@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');


/* Definicion de tipo de letra para la pagina */
* {
    padding: 0;
    margin: 0;
    font-family: 'Hind Madurai', sans-serif;
    box-sizing: border-box;
    color: #223D40;

}

a:link,
a:visited,
a:active {
    color: #223D40;
    text-decoration: none;
    font-size:small;
}

header{
    background-color: #4EBFBF;
}

body{
    background-color: #4EBFBF;
}

.container{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

/* input{
    width: 500px;
    height: 100px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 5px;
} */



form {
    text-align: center;
    border-width: 5px;
    border-radius: 1% 1% 1% 1%;
    border-color: #223D40;
    background-color:#BFBFBF;
}




.btn{
    height: 30px;
    width: 100px;
    background-color: #BFBFBF;
    border-color: #223D40;
    color: #223D40;
    align-items: center center;
    padding: 0px 5px 0px 0px;
}

.d-flex{
    font-size: small;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}